div.main-header__icons.mobile-only
  a.main-header__mobile-btn(href="tel:+7 (495) 748-01-15")
    include ../../static/img/svg/phone.svg
    span.visually-hidden Позвонить

  button.menu-btn.main-header__mobile-btn.sMenuBtn(type="button")
    include ../../static/img/svg/menu.svg
    span.visually-hidden Открыть меню
