doctype html
html(lang=ru)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="static/css/slick.min.css", rel="stylesheet")
    link(href="static/css/slick-theme.min.css", rel="stylesheet")
    link(href="static/css/style.min.css", rel="stylesheet")
    title outSource/wi-fi
  body
  include includes/header.pug

