html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
button:active,
button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
a:active,
a:focus {
  outline: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
@font-face {
  font-family: "Suisse Int";
  src: url("../fonts/SuisseIntl-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Suisse Int";
  src: url("../fonts/SuisseIntl-Medium.ttf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Suisse Int";
  src: url("../fonts/SuisseIntl-Bold.otf") format("opentype");
  font-weight: 700;
}
body {
  font-family: 'Suisse Int', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  background-color: #fff;
  color: #000;
  min-width: 320px;
}
body.open-menu {
  overflow: hidden;
}
body p {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
textarea {
  resize: none;
}
.main-header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 20;
}
.main-header__logo-block {
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.1);
          box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  position: relative;
  z-index: 5;
  background-color: #fff;
}
.main-header__mobile-btn {
  width: 15px;
  height: 15px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
}
.main-header__nav {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding-top: 46px;
  z-index: 3;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow-y: auto;
}
.main-header__nav.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.main-header__full-contacts {
  background-color: #f4f4f4;
  color: #000;
  padding: 10px 20px;
}
.main-header__contacts-item {
  padding: 20px 0;
  font-size: 14px;
  line-height: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.main-header__contacts-item--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-header__contacts-item:last-child {
  border: none;
}
.main-header__contacts-item p {
  max-width: 95%;
}
.main-header__contacts-link {
  padding-right: 30px;
}
.main-header__contacts-link:hover {
  color: #eb016e;
}
