.link {
  transition: .3s;
  color: $white;
  display: inline-block;
  vertical-align: middle;

  &--pale {
    color: $black--40;
  }

  &--opacity-white {
  color: $white--40;
  }

  &:hover,
  &:focus {
    color: $second-color;
  }


}
