.main-footer {
  background-color: $darker;
  padding: 20px 20px 0 20px;
  color: $white;

  address {
    font-style: normal;
  }
}

.main-footer__logo {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 20px;
}

.main-footer__row {
  padding: 20px 0;

  @include lg {
    display: flex;
  }

  &--info {
    a {
      color: $white;
      opacity: 0.3;
      transition: .3s;

      &:hover {
        opacity: 1;
        color: $second-color;
      }
    }
  }

  border-bottom: 1px solid $white--10;

  &:last-child {
    border: none;
  }
}

.main-footer__col {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @include md {
    margin-bottom: 0;
  }

  @include lg {
    width: 25%;
    flex-shrink: 0;
    padding-right: 20px;

    &--right {
      text-align: right;
      padding-right: 0;
      width: auto;
    }

    &--grow {
      flex-grow: 1;
    }
  }
}

.main-footer__link {
  width: 100%;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @include lg {
    width: auto;
    margin-bottom: 0;
    margin-right: 36px;
    display: inline-block;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }
}

.main-footer__address {
  @include lg {
    max-width: 230px;
  }
}
