.slider {
  overflow: hidden;
}

.slider__controls {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include md {
    padding-top: 30px;
  }
}

.slider__current {
  color: $second-color;
}
